<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="<%= appDescription %>">
        <meta name="author" content="<%= authorName %>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= appName %></title>
        <link rel="stylesheet" href="css/bower.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container">
            <header id="header" class="">
                <h1><%= appName %></h1>
            </header><!-- /header -->
        </div>
        <script src="js/bower.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>